body {
  background-color: #538bc1;
}

.cards {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #538bc1;
}
.card {
  background-color: white;
  border-color: black;
  border-width: 5px;
}

.input-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.button {
  padding-top: 8px;
  padding-bottom: 8px;
}
