body {
  background-color: #538bc1;
}

.card {
  padding-top: 10px;
  padding-bottom: 10px;
}

.input-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.button {
  padding-top: 8px;
  padding-bottom: 8px;
}
